<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="main.css">
  <script defer src="tictoc.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" ></script>
  <script defer src="./socket.io/socket.io.js"></script>
  <script defer src="script.js"></script>
  <title>Tic Tac Toe</title>
  <script>
    const roomName = "<%= roomName %>"
  </script>
</head>
<body>
  <div id="main-container">
    <div class="roomName"></div>
    <div class="players"></div>
  </div>
  <div id="board" class="board">
    <div class="cell" data-cell></div>
    <div class="cell" data-cell></div>
    <div class="cell" data-cell></div>
    <div class="cell" data-cell></div>
    <div class="cell" data-cell></div>
    <div class="cell" data-cell></div>
    <div class="cell" data-cell></div>
    <div class="cell" data-cell></div>
    <div class="cell" data-cell></div>
  </div>
  <div class="winning-messege" id="winningMesessage">
    <div data-winner-messege-text></div>
    <button id="restartButton">Restart</button>
  </div>
</body>
</html>
